$white: #FFFFFF !default;
$black: #000000 !default;

$dark-orange: #FC5C1F;
$light-orange: #F9AE4C;
$ticket-blue: #9DCDDE;
$visor-green: #1CBE20;
$visor-green-dark: #1CBC20;
$ticket-dark-blue: #2D6F9A;

$brand-primary:         $dark-orange !default;
$brand-success:         $visor-green !default;
$brand-info:            $ticket-dark-blue !default;
$brand-warning:         $light-orange !default;
$brand-danger:          $black !default;
