<section id="welcome">
  <div class="row">
    <div class="col-xs-12 text-center">
      <img id="main-logo" src="{{ ::vm.logo }}" />
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h1>2-3 sentence value prop here. Mimic Slack but with ridiculousness.</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <a
        ui-sref="active-raffles"
        class="btn btn-block btn-primary">
        Get Started
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      Meet Henry (Chris to create first draft of backstory)
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      Charities (stats plus + highlighted charity)
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      Prizes (same)
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      The Cool Kids (currently What Others Think)
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      How It Works
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      Another CTA
    </div>
  </div>
</section>
